{%extends "base.html" %}
<script>
  const watermarkLink = document.getElementById("watermark"),
    watermarkBtn = document.getElementById("watermarkBtn");

  watermarkBtn.addEventListener("click", () => watermarkLink.click());
</script>

{%block title %}e-Mark{% endblock %} {% block content %}
<br />
<h1 style="font-family: 'Lucida Sans'; font-size: 72px; text-align: center">
  <i>e</i>-Mark
</h1>
<p style="text-align: center; font-size: 24px; line-height: 1">
  Digital Watermarking on Academic e-Certificate
</p>

<br />

<div style="display: flex; flex-direction: row; margin-right: 0.5cm">
  <iframe
    width="704"
    height="394"
    src="https://www.youtube.com/embed/JT_MTnaEIGM"
    style="margin-right: 1.5cm;"
  >
  </iframe>

  <p style="text-align: justify; flex: 3">
    <span style="font-size: 20px"><b>e-Mark Tutorial</b></span
    ><br />
    Welcome to e-Mark, our prototype for digital watermarking on academic
    e-certificates. Feel free to explore our website after watching the video!
    &nbsp;&nbsp;&nbsp;
    <br /><br />
    <br />
    <a id="watermark" href="/watermark-text">
      <button
        type="button"
        id="watermarkBtn"
        class="btn btn-dark"
        style="float: right"
      >
        Try now
      </button></a
    >
  </p>
</div>
<br /><br /><br /><br />
<!-- Future Expansion -->
<div style="display: flex; flex-direction: row">
  <p style="text-align: justify; flex: 1">
    <span style="font-size: 20px"><b>Future Expansion</b></span
    ><br />
    In order to enhance the usability of the system, additional features will be
    integrated in the near future. However, due to time limitations, certain
    complex functionalities, such as direct manipulation of images by adding
    custom shapes and text, along with extensive customization options, will not
    be included at this stage. While some features have already been developed
    and can be tested, please note that the system is still in development,and
    certain features may be incomplete or lacking in functionality.
    <br />
    <span style="color: rgb(160, 160, 160); font-size: 12px">
      Watermark icons created by Prosymbols -
      <a
        href="https://www.flaticon.com/free-icons/process"
        title="watermark icons"
        target="_blank"
        >Flaticon</a
      >
    </span>
    <br />
    <a id="canvas" href="/canvas">
      <button
        type="button"
        id="watermarkBtn"
        class="btn btn-dark"
        style="float: right"
      >
        Try Alpha
      </button></a
    >
  </p>
  <img
    src="{{ url_for('static', filename='/asset/planning.png') }}"
    alt="watermark-icon"
    style="width: 240px; height: 240px; margin-left: 2cm"
  />
</div>
<!-- About Us -->
<!-- <br /><br />
<p style="text-align: justify; flex: 1">
    <span style="font-size: 20px;"><b>About Us</b></span><br>
    Feel free to contact us if you have any questions about e-Mark<br>
    <br>
    &nbsp;&nbsp;<b>Ang Toon Ph'ng</b><br>
    &nbsp;&nbsp;ang_toon_phng@soc.uum.edu.my<br>
</p>
<br /><br /><br /> -->

{% endblock %}
