<link rel="stylesheet" href="/static/watermark-style.css" />

<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"
></script>
<script
  src="https://kit.fontawesome.com/1fe9aa0e58.js"
  crossorigin="anonymous"
></script>

{%extends "base.html" %} {%block title %}e-Mark - Watermark{% endblock %} {% block content %}
<!-- <h1 align="center">Watermark</h1> -->
<br />
<br />
<br />
<div class="wrapper">
  <div class="sidebar sticky-left">
    <h2>e-mark</h2>
    <ul>
      <li style="background: #594f8d">
        <a href="/watermark-text"><i class="fas fa-solid fa-font"></i>Text</a>
      </li>
      <li >
        <a href="/watermark-invisible"><i class="fas fa-solid fa-eye-slash"></i>Invisible</a>
      </li>
    </ul>
  </div>
  <div class="main_content">
    <form method="POST" enctype="multipart/form-data" action="/watermark-text">
      <div class="container2" style="width: fit-content">
        <div style="display: flex; flex-direction: row; width: fit-content">
          <div class="column">
            <h2 style="margin-bottom: 30px">Digital Watermark Embedder</h2>

            <div class="editor-panel">
              <div
                class="insert_text"
                style="
                  width: 335px;
                  padding: 15px 30px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                "
              >
                <!-- input field -->
                <label
                  for="watermark_text"
                  class="text"
                  style="display: block; font-size: 16px; margin-bottom: 12px"
                  >Text</label
                >
                <div class="input_text">
                  <input
                    type="text"
                    id="watermark_text"
                    name="watermark_text"
                    placeholder="Enter text here."
                    required
                  />
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input
                    type="color"
                    id="colorpicker"
                    name="colorpicker"
                    value="#ffffff"
                  />
                </div>
                <!-- left side control -->
                <div style="display: flex; flex-direction: column">
                  <br />
                  <!-- column 1 -->
                  <div id="edit_option">
                    <select
                      id="fontFamily"
                      name="fontFamily"
                      style="width: 5cm; margin-bottom: 10px"
                    >
                      <option value="Arial.ttf">Arial</option>
                      <option value="Calibri.ttf">Calibri</option>
                      <option value="futur.ttf">Futura</option>
                      <option value="Garamond.ttf">Garamond</option>
                      <option value="Helvetica.ttf">Helvetica</option>
                      <option value="times-new-roman.ttf">
                        Times New Roman
                      </option>
                    </select>
                  </div>
                  <!-- column 2 -->
                  <div class="edit_option2">
                    <select
                      id="placement"
                      name="placement"
                      style="width: 5cm; margin-bottom: 10px"
                    >
                      <option value="center">Center</option>
                      <option value="top-left">Top-Left</option>
                      <option value="top-right">Top-Right</option>
                      <option value="bottom-left">Bottom Left</option>
                      <option value="bottom-right">Bottom Right</option>
                    </select>

                    <br />
                    <div class="controls">
                      <input
                        type="file"
                        id="image_input"
                        name="image"
                        accept="image/*, application/pdf"
                        onchange="loadImage()"
                        hidden
                      />

                      <input
                        type="file"
                        id="image_batch"
                        multiple
                        name="image-batch[]"
                        accept="image/*, application/pdf"
                        onchange="loadImageBatch()"
                        hidden
                      />

                      <button
                        type="button"
                        class="choose-img"
                        style="
                          width: 4.2cm;
                          margin-top: 10px;
                          margin-right: 5px;
                        "
                      >
                        Choose Image
                      </button>
                      <button
                        type="button"
                        class="multiple-img"
                        style="width: 4.2cm; margin-top: 10px"
                      >
                        Multiple Images
                      </button>

                      {% if image %}
                      <button
                        class="embed"
                        style="width: 4.2cm; margin-top: 10px"
                        hidden
                      >
                        Embed
                      </button>
                      {% else %}
                      <button
                        class="embed"
                        style="width: 4.2cm; margin-top: 10px"
                      >
                        Embed
                      </button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% if zipfile %}
              <a
                class="save-img"
                href="{{ zipfile }}"
                download
                class="download-btn"
                style="width: 4cm; margin-top: 10px"
                >Save Images</a
              >
              {% elif image %}
              <a
                class="save-img"
                href="{{ image }}"
                download
                class="download-btn"
                style="width: 4cm; margin-top: 10px"
                >Save Image</a
              >
              {% endif %}
            </div>
          </div>
          <div class="column">
            <br />
            <!-- right side preview -->
            {% if image %}
            <div
              class="preview-img"
              id="embedded"
              style="margin-top: 20px; margin-right: 50px"
              align="center"
            >
              <img
                src="{{ image }}"
                alt="preview-img"
                style="margin-left: 0.5cm"
              />
            </div>
            {% else %}
            <div
              class="preview-img"
              id="embedded"
              style="margin-top: 20px; margin-right: 50px"
              align="center"
            >
              <img
                src="/static/asset/image-placeholder.svg"
                alt="preview-img"
                style="margin-left: 0.5cm"
              />
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
