<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"
></script>

<script>
  const loadFile = function (event) {
    const reader = new FileReader();
    const img_div = document.getElementById("output");
    reader.onload = function () {
      const output = document.getElementById("output");
      output.src = reader.result;
      img_div.removeAttribute("hidden");
      document.getElementById("edit_option").removeAttribute("hidden");
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>

{%extends "base.html" %} {%block title %}Home{% endblock %} {% block content %}
<h1 align="center">Watermark</h1>
<br />

{% if image %}
<div align="center">
  <img style="height: 50vh" src="{{ image }}" />
</div>
{% endif %}

<div align="center">
  <img hidden id="output" style="height: 50vh" src="{{ image }}" />
</div>

<br />

<form
  method="POST"
  enctype="multipart/form-data"
  align="center"
  action="/watermark"
>
  <input
    type="file"
    id="image_input"
    name="image"
    accept="image/*"
    onchange="loadFile(event)"
  />
  <input type="submit" id="upload-image" value="Upload" />

  <div hidden id="edit_option">
    <select id="fontFamily" name="fontFamily">
      <option value="Arial.ttf">Arial</option>
      <option value="Calibri.ttf">Calibri</option>
      <option value="times-new-roman.ttf">Times New Roman</option>
    </select>

    <input type="text" id="watermark_text" name="watermark_text" placeholder="text" value="Watermark" required />

    <select id="placement" name="placement">
      <option value="center">Center</option>
      <option value="top-left">Top-Left</option>
      <option value="top-right">Top-Right</option>
      <option value="bottom-left">Bottom Left</option>
      <option value="bottom-right">Bottom Right</option>
    </select>

    <input type="color" id="colorpicker" name="colorpicker" value="#ffffff">
  </div>
</form>

{% endblock %}
